@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:font-titillium;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
